        /* Google font add */

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

        /* common styles */

/* header-footer bg-color */
.bg-color{
    background-color:#FFF4E7;
}
/* button-styles */
.button{
    background-color: orangered;
    color: white;
    border-radius:8px;
    padding:20px;
}
/* main title */
.title{
    font-weight:bold;
    font-size:45px;
}
/* body-description */
.description{
    font-size: 16px;
    font-weight: 300;
}

        /* header style */
