        /* Google font add */

.work-sans{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

        /* common styles */
/* max-width and alignment */
nav, .banner, main,footer{
    max-width:1140px;
    margin:0px auto;
}
/* header-footer*/
.bg-color{
    background-color:#FFF4E7;
}
.dark-2{
    color:#424242;
}
/* button-styles */
.button{
    background-color: orangered;
    color: white;
    border-radius:8px;
    padding:20px;
    font-size:1.25rem;
    font-weight:600;
    border: none;

}
/* main title */
.title{
    font-weight:bold;
    font-size:2.81rem;
}
/* body-description */
.description{
    font-size:1rem;
    font-weight: 300;
    color:#727272;
}

/* display flex */
.display-flex{
    display: flex;
}

        /* header style */

 /* navigation style */

nav{
    justify-content: space-between;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right:30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size:1.12rem;
}
/* banner styles */
.banner{
    text-align: center;
}
.banner-container{
    max-width:850px;
    margin: 0 auto;
}
.banner-title{
    font-size:4rem;
    font-weight:bold;
    margin-bottom:0;
}
.banner-photo{
    width:95%;
    margin-top:20px;
    padding-bottom:20px;
}






/* media query */
@media screen and (max-width:576px) {
    .title{
        font-size: 1.5rem;
    }
    .nav-item{
        margin-right:10px;
    }
    .nav-link{
        font-size:0.75rem;
    }
    .banner-title{
        font-size:2rem;
    }
    
}